*.elc
db/
tramp
.session
ac-comphist.dat
auto-save-list
el-get
url
newsticker
session.*
.python-environments
elpa/
request/
projectile-bookmarks.eld
eshell/
.mc-lists.el
abbrev_defs
network-security.data
